/* Google Font */
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap');

body {
    text-align: center;
     background: url('./Preview/photo-1610352992637-ef8ff8444542.jpg');
   background-repeat:no-repeat;
    background-size: cover;
    background-position:center;
}


#clock {
    padding-top: 3%;
    font-size: 40px;
    font-family: 'Libre Baskerville', serif;
    font-weight: bold;
    color: black;
}

h2 {
	text-align:center;
}

h3 {
    font-family: 'Libre Baskerville', serif;
    font-size: 25px;
}

#alarm-container {
    font-family: 'Libre Baskerville', serif;
    color: black;
}


#alarmHours {
    width: 15%;
    height: 40px;
    font-family: 'Libre Baskerville', serif;
    font-size: 15px;
    font-weight: bold;
}

#alarmMinutes {
    width: 15%;
    height: 40px;
    font-family: 'Libre Baskerville', serif;
    font-size: 15px;
    font-weight: bold;
    
}

#alarmSeconds {
    width: 15%;
    height: 40px;
    font-family: 'Libre Baskerville', serif;
    font-size: 15px;
    font-weight: bold;
}

#ampm {
    width: 15%;
    height: 40px;
    font-family: 'Libre Baskerville', serif;
    font-size: 15px;
    font-weight: bold;
}

#setButton {
    cursor: pointer;
    float:left;
    height: auto;
    padding: 10px 15px;
    border-radius: 50px;
    font-weight: bold;
    font-family: 'Libre Baskerville', serif;
    font-size: 15px;
    background-color:rgb(38, 93, 195);
    margin-left: 5%; 
}

#setButton:hover {
    background-color: chartreuse;
}
#clearButton {
    cursor: pointer;
    float:right;
    height: auto;
    padding: 10px 15px;
    border-radius: 50px;
    font-weight: bold;
    font-family: 'Libre Baskerville', serif;
    font-size: 15px;
    background-color:tomato;
    margin-right: 5%;
}

#clearButton:hover {
    background-color: red;
    color: white;
}

.buttonSetClear {
    padding-top: 10%;
    justify-content:flex-end;
}

footer {
    padding-top: 15%;
    font-family: 'Libre Baskerville', serif;
}