/* Google Font */
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap');

body {
    text-align: center;
    /* background: url('./Preview/photo-1610352992637-ef8ff8444542.jpg');
    background-repeat:no-repeat;
    background-size: cover;
    background-position:center; */
}

h1 {
    font-size: 45px;
    color: black;
    font-family: 'Libre Baskerville', serif;
}

h2 {
    font-size: 35px;
    color: black;
    font-family: 'Libre Baskerville', serif;
}

#hours {
    width: 15%;
    height: 40px;
    font-family: 'Libre Baskerville', serif;
    font-size: 15px;
    font-weight: bold;
}

#minutes {
    width: 15%;
    height: 40px;
    font-family: 'Libre Baskerville', serif;
    font-size: 15px;
    font-weight: bold;
}

#seconds {
    width: 15%;
    height: 40px;
    font-family: 'Libre Baskerville', serif;
    font-size: 15px;
    font-weight: bold;
}

#ampm {
    width: 15%;
    height: 40px;
    font-size: 15px;
    font-family: 'Libre Baskerville', serif;
    font-weight: bold;

}


button {
    cursor: pointer;
    margin-top: 5%;
    margin-bottom: 10%;
    padding: 10px 15px;
    border-radius: 5px;
    background-color: rgb(0, 255, 98);
    font-family: 'Libre Baskerville', serif;
    font-size: large;
    font-weight: bold;
}

button:hover {
    background-color: blue;
    color: white;
}

footer {
    padding-top: 12%;
    font-family: 'Libre Baskerville', serif;
}
